<!DOCTYPE html>
<link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css"/>
<!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

<body>
    <div class="container pure-g">
        <div class="headline pure-u-1-1">
            Todos
        </div>
        <div class="pure-u-1-1 form">
            <form>
                <input type="text" placeholder="Why dont you add something" />
                <input type="submit" />
            </form>
        </div>
        <div class="list">
            <ul>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
            </ul>
        </div>
        <div class="footer">
            <div class="counter pure-u-1-2">2 items left</div>
            <div class="complete-all pure-u-1-2">Mark all as complete</div>
        </div>
        
    </div>
</body>
